

.ipynb_checkpoints/ThinkBayes Ch 1 - Bayes's Theorem-checkpoint.ipynb

.ipynb_checkpoints/ThinkBayes Ch 2 - Computational Statistics-checkpoint.ipynb

.ipynb_checkpoints/ThinkBayes Introduction-checkpoint.ipynb
